@font-face {
    font-family: 'Shilla_CultureB-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'KBIZHanmaumMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KBIZHanmaumMyungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dokrip';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Dokrip.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



:root {
    --font-point: 'Shilla_CultureB-Bold';
    --font-nomal: 'KBIZHanmaumMyungjo';

    --color--yellow: #d89c44;
    --color--blue: #505c78;
    --color--blue-dark: #494776;

    --color--white: #fff;

    --transition: all 400ms ease;
}

* {
    font-family: var(--font-nomal);
    font-weight: bold;

}


.fade-in {
    animation: fadeIn 2s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*****************  bg  ******************/

html {
    z-index: -2;
    width: 100%;
    height: 100%;
    background-image: url(./greenBG.jpg);
    background-position: center;
    background-size: cover;
    z-index: -2;
    transition: all 400ms ease;
}

body {
    margin: 2rem auto;
    max-width: 600px;
    /* background-image: url(./greenBG.jpg); */
    width: 600px;
    height: auto;
    z-index: -2;

}


.contaienr__bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    z-index: 5;
}


.container__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 82%;
    height: auto;
    background-image: url(./paper_bg.jpg);
    border-radius: 0.2rem;
    border: 2px solid;
    border-image: linear-gradient(to right bottom, #e6cfa3, #de8b32);
    border-image-slice: 1;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    /* z-index: 1; */
}




/*****************  bg_deco  ******************/

.deco-box {
    width: 100vw;
}

.deco01 {
    position: fixed;
    width: 20rem;
    bottom: -18px;
    left: -25px;
    z-index: -1;
}

.deco02 {
    position: absolute;
    width: 5rem;
    top: 15rem;
    left: -2rem;

}

.deco03 {
    position: absolute;
    width: 18em;
    right: -12px;
    top: -5px;
}





/*****************  Title text  ******************/

.title__text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin-top: 5.65rem;
    margin-bottom: 1.5rem;
}


.title__text h1 {
    font-family: var(--font-point);
    font-size: 6.0rem;
    line-height: 6.4rem;
    text-align: center;
    word-break: keep-all;
    color: var(--color--yellow);
}



.title__text h2 {
    font-family: var(--font-point);
    font-size: 4.8rem;
    text-align: center;
    word-break: keep-all;
    line-height: 5.8rem;
    color: var(--color--blue);
}

.title__text h3 {
    font-family: var(--font-point);
    font-size: 3.8rem;
    text-align: center;
    word-break: keep-all;
    line-height: 5.8rem;
    color: #7d89a0;
    padding-left: 0.5rem;
}




/*****************  text  ******************/


.profile__img {
    width: 76%;
}


.detail__text {
    width: 70%;
    text-align: center;
    word-break: keep-all;
    font-size: 1.2em;
    letter-spacing: -0.022em;
    line-height: 1.78em;
    color: var(--color--blue);
    margin-bottom: 1rem;
    margin-top: 1.2rem;
}



.name__text {
    font-size: 1.36rem;
    margin-bottom: 2.3rem;
    color: var(--color--blue-dark);
}



/*****************  line  ******************/



.deco__line {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.deco__line .deco04 {
    width: 52px;
    height: 58px;
    background-image: url(./gr___005.png);
    background-position: center;
    background-size: cover;
    margin-bottom: 2.6rem;
    margin-top: 1rem;
}



/*****************  date  ******************/

.date__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.0rem;
}


.circle {
    width: 0.36rem;
    height: 0.36rem;
    background-color: #81a897;
    border-radius: 100%;
    margin: 0 0.7rem;
}

.date__box h3 {
    color: var(--color--blue);
    font-size: 1.1rem;
}

.date__box h2 {
    font-size: 1.8rem;
    color: var(--color--yellow);
}





/*****************  Location  ******************/

.adderss__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adderss__box h2 {
    font-size: 1.78rem;
    line-height: 2em;
    font-weight: bold;
    letter-spacing: -0.062em;
    word-spacing: -0.0375em;
    color: var(--color--blue-dark);
    z-index: 5;
}

.deco__05 {
    margin-top: -1.8rem;
    width: 58%;
    height: 10px;
    background-color: #ccedaf;
    background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
    opacity: 0.4;
}


.adderss__box p {
    width: 70%;
    text-align: center;
    word-break: keep-all;
    font-size: 1.35em;
    line-height: 1.6em;
    letter-spacing: -0.062em;
    word-spacing: -0.0375em;
    color: var(--color--blue);
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}



.adderss__box h5 {
    font-size: 1.068rem;
    color: #c1ab8b;
    margin-bottom: 1.6rem;
}





/*****************  Call  ******************/



/* .call__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    margin-top: 2rem;
} */



.call__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.call__box a {
    height: 62px;
    line-height: 62px;
    align-items: center;
    font-size: 1.2rem;
    letter-spacing: 0.056rem;
    margin: 0rem 0 5rem 0;
    padding: 0 7rem;
    border-radius: 1rem;
    color: var(--color--white);
    background-color: #ab845f;
    box-shadow: 2px 5px 5px 2px rgba(125, 98, 74, 0.227);
}


.material-symbols-outlined {
    color: var(--color--white);
}





/*****************  bank  ******************/


.bank{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.bank__img{
    width: 120px;
    margin-top: 2rem;
    margin-bottom: 0.3rem;
}


.bank > h1{
    font-family: var(--font-point);
    font-size: 1.8rem;
    color: var(--color--blue);
}


.bank__box{
    width: 87%;
    margin-bottom: 3rem;
}


.bank__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #d4eef567;
    padding: 0.5rem 0;
    /* border: 2px solid var(--color--blue); */
    border-radius: 1rem;
    background-color: #d4eef567;    
    margin-bottom: 1rem;
}


.bank__list > h6{
    margin: 0;
    font-size: 1.2rem;
    font-stretch: 0.0375em;
    letter-spacing: 0.072em;
    margin: 0 2.4rem;
}
    

.bank__input{
    border:0;
    background-color: transparent;
    font-size: 1.1rem;
    font-stretch: 0.0375em;
    color: var(--color--blue);
    margin-left: -0.8rem;
    width: 180px;
}

.copy__btn{
    border:0;
    background-color: transparent;
    background-color: var(--color--blue-dark);
    padding: 0.9rem 2.1rem;
    border-radius: 0.5rem;
    font-size: 0.92rem;
    font-stretch: 0.0675em;
    color: var(--color--white);
    box-shadow: 0px 3px 3px 1px rgba(125, 98, 74, 0.227);
    margin-right: 1rem;
}






/*=============  MEDIA QUERIES (SMALL DEVICES)Mobile  =============*/
/* 최대너비 600px으로 지정 */


@media screen and (max-width: 600px) {


    /*****************  bg  ******************/

    html {
        width: 100%;
        height: 100%;
        background-image: url(./greenBG.jpg);
        background-position: center;
        background-size: cover;
        z-index: -2;
        transition: all 400ms ease;
    }

    body {
        max-width: 600px;
        /* background-image: url(./greenBG.jpg); */
        width: 100%;
        height: 100%;
        z-index: -2;
    }


    .contaienr__bg {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        z-index: 5;
    }

    .container__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 89vw;
        height: auto;
        background-image: url(./paper_bg.jpg);
        border-radius: 0.2rem;
        border: 2px solid;
        border-image: linear-gradient(to right bottom, #e6cfa3, #ba7b36);
        border-image-slice: 1;
        margin-top: 1.4rem;
        margin-bottom: 3.5rem;
        /* z-index: 1; */
    }







    /*****************  bg_deco  ******************/

    .deco-box {
        width: 100vw;
    }

    .deco01 {
        position: fixed;
        width: 16rem;
        bottom: -40px;
        left: -25px;
        z-index: -1;
    }

    .deco02 {
        position: absolute;
        top: 24rem;
        left: -2rem;
        width: 5rem;

    }

    .deco03 {
        position: absolute;
        width: 14em;
        right: -12px;
        top: -5px;


    }




    /*****************  Title text  ******************/

    .title__text {
        width: 83%;
        margin-top: 4.56em;
        margin-bottom: 0.8rem;
    }


    .title__text h1 {
        font-family: var(--font-point);
        font-size: 5rem;
        line-height: 5.7rem;
        text-align: center;
        word-break: keep-all;
        color: var(--color--yellow);

    }

    .title__text h2 {
        font-family: var(--font-point);
        font-size: 3.75rem;
        line-height: 4.4rem;
        text-align: center;
        word-break: keep-all;
        letter-spacing: -0.032em;
        color: var(--color--blue);
    }

    .title__text h3 {
        font-family: var(--font-point);
        font-size: 2.5rem;
        line-height: 3.8rem;
        text-align: center;
        word-break: keep-all;
        color: #7d89a0;
        margin-left: -0.4rem;
        margin-bottom: -0.3rem;
    }






    /*****************  text  ******************/


    .profile__img {
        width: 87%;
    }


    .detail__text {
        width: 77%;
        text-align: center;
        word-break: keep-all;
        font-size: 1.1em;
        line-height: 1.72em;
        letter-spacing: -0.062em;
        color: var(--color--blue);
        margin-bottom: 0.9rem;
    }

    .name__text {
        font-size: 1.2rem;
        margin-bottom: 2.0rem;
        color: var(--color--blue-dark);
        font-weight: bold;
    }




    /*****************  date  ******************/

    .date__box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;
    }


    .circle {
        width: 0.36rem;
        height: 0.36rem;
        background-color: #81a897;
        border-radius: 100%;
        margin: 0 0.7rem;
    }

    .date__box h3 {
        color: var(--color--blue);
    }

    .date__box h2 {
        font-size: 1.5rem;
        color: var(--color--yellow);
    }

    .add .deco04 {
        margin-bottom: 1.85rem;
    }






    /*****************  line  ******************/

    .deco__line {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .deco__line .deco04 {
        width: 42px;
        height: 50px;
        background-image: url(./gr___005.png);
        background-size: contain;
        margin-bottom: 2rem;
        margin-top: 1.8rem;
    }




    /*****************  Location  ******************/

    .adderss__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1.3rem;
    }

    .adderss__box h2 {
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 0.02rem;
        color: var(--color--blue-dark);
    }

    .adderss__box p {
        font-size: 1.1rem;
        line-height: 1.58rem;
        letter-spacing: 0.02rem;
    }

    .adderss__box h5 {
        font-size: 0.9rem;
    }

    .deco__05 {
        margin-top: -1.5rem;
        width: 73%;
        height: 10px;
        background-color: #ccedaf;
        background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
        opacity: 0.4;
    }



    /*****************  Call  ******************/



    .call__box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
    }


    .call__box a {
        width: 100%;
        text-align: center;
        height: 58px;
        line-height: 58px;
        align-items: center;
        font-size: 1rem;
        letter-spacing: 0.056rem;
        padding: 0;
        box-shadow: 2px 5px 5px 2px rgba(125, 98, 74, 0.227);
        margin: 0rem 0 2rem 0;
    }


    .box01 {
        text-align: center;
    }

    .box01 input {
        border: none;
        font-size: 15px;
        outline: none;
        text-align: center;
    }

    .box01 button {
        border: none;
        width: 60px;
        max-width: 100px;
        vertical-align: bottom;
    }

    .box01 button img {
        width: 100%;
    }





/*****************  bank  ******************/


.bank__img{
    width: 100px;
    margin-top: 2rem;
    margin-bottom: 0.3rem;
}


.bank > h1{
    font-family: var(--font-point);
    font-size: 1.8rem;
    color: var(--color--blue);
}



.bank__box{
    width: 87%;
    margin-bottom: 3rem;
}


.bank__list{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: #d4eef567;
    padding: 0.5rem 0;
    /* border: 2px solid var(--color--blue); */
    border-radius: 1rem;
    background-color: #d4eef567;    
    margin-bottom: 1rem;
}


.bank__list > h6{
    color:var(--color--blue);
    margin: 0;
    font-size: 1.0rem;
    font-stretch: 0.0375em;
    letter-spacing: 0.072em;
    margin-left: 1rem;
}
    

.bank__input{
    border:0;
    width: 150px;
}

.copy__btn{
    padding: 0.9rem 1.1rem;
}







}
